@font-face {
  font-family: 'TTHoves-Medium';
  src: url(fonts/webFonts/TTHoves-Medium/font.woff);
}
@font-face {
  font-family: 'TTHoves-Regular';
  src: url(fonts/webFonts/TTHoves-Regular/font.woff);
}
@font-face {
  font-family: 'TTHoves';
  src: url(fonts/webFonts/TTHoves-Thin/font.woff);
}
.mg {
  margin: 0px auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
html {
  -ms-overflow-style: none;
  /* IE 10+ */
  scrollbar-width: none;
  /* Firefox */
  height: 1200px;
}
a {
  text-decoration: none;
  color: #E1E3E2;
}
a:visited {
  text-decoration: underline;
  color: #E1E3E2;
}
.red {
  background-color: rgba(76, 97, 121, 0.445);
  position: relative;
}
.field {
  position: relative;
  width: 100%;
  max-width: 1200px;
  border: 1px solid #093d4b;
  height: 400px;
  margin: 0px auto;
  background-color: rgba(155, 150, 150, 0.363);
}
.box {
  user-select: none;
  position: absolute;
  width: 100%;
  max-width: 150px;
}
.box-img img {
  width: 100%;
  height: 100%;
}
.abs {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}
.relative {
  position: relative;
}
.selected {
  border: 1px solid #48637c;
}
.selected .square {
  position: relative;
  background-color: rgba(130, 247, 237, 0.349);
  height: 100%;
  z-index: 0;
}
.selected .square__corner {
  background-color: #dad5d5;
  width: 20px;
  height: 20px;
  position: absolute;
}
.selected .square__corner--lt {
  top: -10px;
  left: -10px;
}
.selected .square__corner--rt {
  top: -10px;
  right: -10px;
}
.selected .square__corner--lb {
  bottom: 0px;
  left: -10px;
  background-color: brown;
}
.selected .square__corner--rb {
  bottom: 0px;
  right: -10px;
}
.selected .square-line {
  width: 100%;
  max-width: 40px;
  height: 10px;
  background-color: rgba(226, 217, 217, 0.815);
  position: absolute;
  border-radius: 55px;
  z-index: 5;
}
.selected .square-line--top {
  height: 10px;
  top: -10px;
  left: 45%;
}
.selected .square-line--bottom {
  bottom: 0px;
  left: 35%;
  background-color: blue;
}
.selected .square-line--left {
  transform: rotate(90deg);
  top: 45%;
  left: -25px;
  height: 10px;
}
.selected .square-line--right {
  transform: rotate(90deg);
  top: 45%;
  right: -25px;
}
.sofa {
  z-index: 2;
  object-fit: cover;
  display: none;
}
.cat {
  z-index: 3;
}
.test {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border: 1px solid #ff0000;
}
.palm {
  z-index: 1;
  left: 430px;
  background-color: rgba(43, 159, 226, 0.151);
}
.tool {
  position: relative;
  bottom: 0;
  left: 0;
}
.hide {
  display: none !important;
}
.btn-selected-reset {
  width: 100%;
  max-width: 100px;
  padding: 10px;
  background-color: antiquewhite;
  position: absolute;
  top: 200px;
  left: 0;
}
.selectWrap {
  border: 1px solid #444242;
  background-color: rgba(6, 15, 15, 0.555);
  min-height: 150px;
  position: relative;
  left: 0;
  z-index: 2;
  width: 100%;
  max-width: 600px;
}
.selectWrap span {
  text-align: center;
  display: block;
}
.resize-wrap {
  border: 1px solid #0026ff;
  position: relative;
  margin-top: 200px;
}
.resize-block {
  position: absolute;
  margin-bottom: 100px;
}
p {
  background: lime;
  height: 200px;
  width: 300px;
}
p.resizable {
  position: relative;
}
p .resizer {
  width: 10px;
  height: 10px;
  background: blue;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: se-resize;
}
