@font-face {
  font-family: 'TTHoves-Medium';
  src: url(fonts/webFonts/TTHoves-Medium/font.woff);
}
@font-face {
  font-family: 'TTHoves-Regular';
  src: url(fonts/webFonts/TTHoves-Regular/font.woff);
}
@font-face {
  font-family: 'TTHoves';
  src: url(fonts/webFonts/TTHoves-Thin/font.woff);
}
.tip .t {
  padding: 10px;
}
.mg {
  margin: 0px auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
html {
  -ms-overflow-style: none;
  /* IE 10+ */
  scrollbar-width: none;
  /* Firefox */
  height: 1200px;
}
a {
  text-decoration: none;
  color: #E1E3E2;
}
a:visited {
  text-decoration: underline;
  color: #E1E3E2;
}
.red {
  background-color: rgba(76, 97, 121, 0.445);
  position: relative;
}
.field {
  position: relative;
  width: 100%;
  max-width: 1300px;
  height: 300px;
  background-color: rgba(155, 150, 150, 0.363);
}
.rrr {
  display: none;
}
.image-wrap {
  position: absolute;
  width: 100%;
  max-width: 150px;
  height: 150px;
  outline: 1px dashed #0c0c0c;
  left: 230px;
}
.box {
  user-select: none;
  position: absolute;
  width: 100%;
  height: 100%;
}
.box-img {
  width: 100%;
  height: 100%;
}
.box-img img {
  width: 100%;
  height: 100%;
}
.abs {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}
.relative {
  position: relative;
}
.btn-for-resize {
  color: #6e486e;
  font-size: 35px;
  position: absolute;
  top: -50px;
  left: -30px;
}
.btn-for-rotate {
  position: absolute;
  right: -40px;
  top: -50px;
  width: 50px;
  height: 50px;
}
.btn-for-rotate__item {
  font-size: 30px;
  color: #6e486e;
}
.selected .square {
  position: relative;
  background-color: rgba(130, 247, 237, 0.349);
  height: 100%;
  z-index: 0;
}
.selected .square__corner {
  display: none;
  border: 1px solid #000000;
  background-color: rgba(51, 51, 51, 0.39);
  width: 20px;
  height: 20px;
  position: absolute;
}
.selected .square__corner--lt {
  top: 0px;
  left: 0px;
}
.selected .square__corner--rt {
  top: 0px;
  right: 0px;
}
.selected .square__corner--lb {
  bottom: 0px;
  left: 0px;
}
.selected .square__corner--rb {
  bottom: 0px;
  right: 0px;
}
.selected .square-line {
  width: 100%;
  max-width: 40px;
  height: 10px;
  background-color: rgba(226, 217, 217, 0.815);
  position: absolute;
  border-radius: 55px;
  z-index: 5;
}
.selected .square-line--top {
  height: 10px;
  top: 0px;
  left: 45%;
  background-color: #cdeb64;
}
.selected .square-line--bottom {
  bottom: 0px;
  left: 35%;
}
.selected .square-line--left {
  transform: rotate(90deg);
  top: 45%;
  left: -15px;
  height: 10px;
}
.selected .square-line--right {
  transform: rotate(90deg);
  top: 45%;
  right: -15px;
}
.sofa {
  z-index: 2;
  object-fit: cover;
  display: none;
}
.cat {
  z-index: 3;
}
.rotate {
  display: none;
  position: absolute;
  bottom: -30px;
  left: -30px;
}
.rotate-item {
  font-size: 30px;
  border: 1px solid #ff0000;
  width: 30px;
  height: 30px;
  display: block;
}
.test {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}
.palm {
  z-index: 1;
  left: 430px;
  background-color: rgba(43, 159, 226, 0.151);
}
.tool {
  position: relative;
  bottom: 0;
  left: 0;
}
.hide {
  display: none !important;
}
.btn-selected-reset {
  width: 100%;
  max-width: 100px;
  background-color: antiquewhite;
  position: absolute;
  top: 200px;
  display: none;
  left: 0;
}
.selectWrap {
  background-color: rgba(6, 15, 15, 0.555);
  min-height: 150px;
  position: relative;
  left: 0;
  z-index: 2;
  width: 100%;
  max-width: 600px;
}
.selectWrap span {
  text-align: center;
  display: block;
}
